@using EntityLayer.Concrete
@model List<Skill> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Oran</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @item.SkillID
                                </th>
                                <td class="budget">
                                    @item.Title
                                </td>
                               <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">@item.Value</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Skill/EditSkill/@item.SkillID" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Skill/AddSkill" class="btn btn-outline-info">Yeni Yetenek Ekle</a>
            </div>
        </div>
    </div>
</div>
