@using EntityLayer.Concrete;

@model List<Portfolio>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Proje adı </th>
                                <th> Görsel </th>
                                <th> URL </th>
                                <th> Fiyat </th>
                                <th> Tamamlanma oranı </th>
                                <th> Durum </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PortfolioID</td>
                                    <td>@item.Name</td>
                                    <td><img href="@item.ImageUrl" /></td>
                                    <td>@item.ProjectUrl</td>
                                    <td>@item.Price</td>
                                    <td>%@item.Value</td>
                                    @if (@item.Status)
                                    {
                                        <td>
                                            Devam ediyor...
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Tamamlandı
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
